    html {
      height: 100%;
      background: #542E63;
    }
    body {
       width: 800px;
       margin: 0 auto;
       height: 100%;
    }
    h1 {
      position: relative;
      top: 230px;
      padding: 5px;
      color: white;
      text-align: center;
      font-size: 75px;

    }
    .titlep {
      width: 100%;
      height: 200px;
      text-align: center;
}

    }

    header {
        color: white;
        text-align:center;
        padding:5px;
        font-size: 20px;
        display: block;
        position: relative;
        top: -100px;

    }

    nav {
        line-height:30px;
        background-color: #341B3D;
        min-height:100%;
        width:125px;
        display: inline-block;
        vertical-align: top;
        padding:5px;
        font-size: 13px;

    }
    nav ul {
        list-style-type: none;
        position: relative;
        left: -20px;


    }
    a {
        color: white;
    }
    section {
        width: 516px;
        display: inline-block;
        text-align: center;
        background-color: #542E63;
        height: 700px;

    }

    h2 {
      font-size: 40px;
      color: white;
    }

    p3 {
      color: white;
      position: relative;
      top: 20px;
      font-size: 20px;
    }

    aside {

      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color: #341B3D;
      font-size: 13px;
      min-height: 100%;
      padding: 8px;
    }

    audio {
      width: 125px;
    }

    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:black;
        color:white;
        text-align:center;
        padding:5px;
        display: block;
    }
