html {
      height: 100%;
    }
    body {
       width: 801px;
       margin: 0 auto;
       padding-top: 5px;
       height: 100%;
       text-align:center;

    }

    header {
        background-color:black;
        color:white;
        text-align:center;
        padding:5px;
        font-size: 50px;
        display: block;
        width: 750px;
        height: 90px;
        
    }
    nav {
        line-height:30px;
        background-color:#eeeeee;
        min-height:100%;
        width:100px;
        display: inline-block;
        vertical-align: top;
        padding:0px 50px 0px 0px;
        font-size: 14px;
        height:100%;
        text-align: left;


    }
    nav ul {
        list-style-type: none;
        padding-left: 5px
    }
    a {
        color: black;
    }
    section {
        width: 517px;
        display: inline-block;
    }
    aside {
      width: 100px;
      display: inline-block;
      vertical-align: top;
      background-color:#eeeeee;
      font-size: 18px;
      min-height: 100%;
      padding: 8px;

    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:black;
        color:white;
        text-align:center;
        padding:5px;
        display: block;
    }
